@import "tailwindcss";

@theme {
  --color-blk: oklch(14.79% 0.0135 92.98);
  --color-text-drk: oklch(32.02% 0.0572 64.02);
  --color-ivory: oklch(99.06% 0.0135 92.98);
  --color-dark-ivory: oklch(96.09% 0.0135 92.98);
  --font-lexend-giga: "Lexend Giga", sans-serif;
}

@layer utilities {
  .font-brand {
    font-family: var(--font-lexend-giga);
  }

  .menu-category {
    @apply font-lexend-giga font-black text-3xl px-4;
  }

  .menu-items {
    @apply grid grid-cols-1 lg:grid-cols-2 gap-6 w-full;
  }

  .menu-item {
    @apply flex flex-col w-full lg:flex-row items-center lg:items-start gap-6 pl-4 pr-8 py-8 lg:rounded-xl bg-dark-ivory shadow-lg;
  }

  .item-name {
    @apply font-lexend-giga font-bold text-xl;
  }

  .item-info {
    @apply flex flex-col gap-6;
  }

  .item-image {
    @apply drop-shadow-xl;
  }

  .item-price {
    @apply inline-flex items-center justify-between pt-6;
  }

  .price {
    @apply font-lexend-giga font-bold text-3xl;
  }

  .ingredient {
    @apply font-lexend-giga text-xs italic px-3 py-1.5 border-2 border-t-text-drk rounded-full;
  }
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: inherit;
  }
}

.contact-card {
  @apply flex flex-col items-center gap-2 px-4 lg:px-12 py-8 lg:border-t border-ivory;
}

body {
  min-height: 100dvh;
  background-color: var(--color-ivory);
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.leftSlideIn,
.rightSlideIn,
.autoScale,
.autoBlur {
  animation: none;
}

@supports (animation-timeline: view()) {
  .leftSlideIn {
    animation: leftSlideInAnimation both;
    animation-timeline: view(80% 5%);
  }

  .rightSlideIn {
    animation: rightSlideInAnimation both;
    animation-timeline: view(70% 5%);
  }

  .autoScale {
    animation: autoScaleAnimation both;
    animation-timeline: view(80% 5%);
  }

  .autoBlur {
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
  }

  @keyframes leftSlideInAnimation {
    0% {
      opacity: 0;
      transform: translateX(-200px) scale(0.3);
    }
    100% {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }

  @keyframes rightSlideInAnimation {
    0% {
      opacity: 0;
      transform: translateX(200px) scale(0.3);
    }
    100% {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }

  @media (max-width: 768px) {
    .leftSlideIn {
      animation: leftSlideInAnimationMobile both;
      animation-timeline: view(80% 5%);
    }
    .rightSlideIn {
      animation: rightSlideInAnimationMobile both;
      animation-timeline: view(70% 5%);
    }

    @keyframes leftSlideInAnimationMobile {
      0% {
        opacity: 0;
        transform: scale(0.3);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
    @keyframes rightSlideInAnimationMobile {
      0% {
        opacity: 0;
        transform: scale(0.3);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  @keyframes autoScaleAnimation {
    0% {
      transform: scale(0.4);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes autoBlurAnimation {
    0% {
      filter: blur(20px);
    }
    20%,
    80% {
      filter: blur(0px);
    }
    100% {
      filter: blur(20px);
    }
  }
}
